.button {
    font-family: var(--roboto-font);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--g4-color);
    border-radius: 0.25rem;
    background-color: var(--g2-color);
    color: var(--g9-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--g3-color);
}

.button:active {
    background-color: var(--g4-color);
}
